/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header  */

header {
    width: 100%;
    height: 80px;
    background-color: white;
}

.col-2 ul li {
    list-style: none;
    display: inline-block;
    padding: 30px 10px;
}

.col-2 ul li a {
    text-decoration: none;
    color: black;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.col-1 {
    width: 20%;
    height: 100px;
    padding: 20px 50px;
}

.col-2 {
    width: 40%;
    height: 100px;
}

.col-3 {
    width: 40%;
    height: 100px;
    padding: 30px;  
}

.col-1, .col-2, .col-3 {
    float: left;
}

.col-3 ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.col-3 ul li a {
    text-decoration: none;
    color: black;
}

.blue {
    padding: 5px 10px;
    background-color: blue;
}

.jumbotron {
    position: relative;
    height: 600px;
    width: 100%;
    background-color: skyblue;
}

.position {
   width: 50%;
   position: absolute;
   bottom: -50px;
   right: 30px;
}

h1 {
    text-align: center;
    padding: 50px 0px;
    font-size: 60px;
}

.content {
    position: absolute;
    bottom: 200px;
    left: 100px;
}

.shape {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    margin: 10px 0px;
}

.size {
    font-size: 40px;
}

/* fine header  */

/* inizio main  */

.main {
    width: 100%;
}

.align {
    text-align: center;
}