/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header  */

header {
    background-color: white;
    margin: 0 auto;
}

.col-2 ul li {
    list-style: none;
    display: inline-block;
    padding: 30px 10px;
}

.col-2 ul li a {
    text-decoration: none;
    color: black;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.col-1 {
    width: 20%;
    height: 100px;
    padding: 20px 50px;
}

.col-2 {
    width: 40%;
    height: 100px;
}

.col-3 {
    width: 40%;
    height: 100px;
    padding: 30px;  
}

.col-1, .col-2, .col-3 {
    float: left;
}

.col-3 ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.col-3 ul li a {
    text-decoration: none;
    color: black;
}

.jumbotron {
    height: 500px;
    width: 100%;
    background-color: skyblue;
}

.column-1 {
    width: 30%;
}

.column-2 {
    width: 65%;
}

.col {
    float: left;
}

h1 {
    font-size: 5em;
}

.jumbo {
    width: 65%;
}

.distance {
    margin: 20px 10px;
}

.blue {
    padding: 5px 10px;
    background-color: blue;
    color: white;
    margin: 5px 5px;
}

.size {
    font-size: 2em;
    margin: 10px;
}

h2 {
    text-align: center;
    font-size: 2.2em;
}

.container {
    width: 50%;
    height: 600px;
    margin: 0 auto;
}

.distance {
    padding: 0px 10px;
}

.column-one, .column-two, .column-three {
    width: 30%;
    border: 1px solid black;
}

.center {
    text-align: center;
}