/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header  */

header {
    background-color: white;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.col-2 ul li {
    list-style: none;
    display: inline-block;
    padding: 30px 10px;
}

.col-2 ul li a {
    text-decoration: none;
    color: black;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.col-1 {
    width: 20%;
    height: 100px;
    padding: 20px 50px;
}

.col-2 {
    width: 40%;
    height: 100px;
}

.col-3 {
    width: 40%;
    height: 100px;
    padding: 30px;  
}

.col-1, .col-2, .col-3 {
    float: left;
}

.col-3 ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

.col-3 ul li a {
    text-decoration: none;
    color: black;
}

.jumbotron {
    height: 500px;
    width: 100%;
    background-color: skyblue;
}

.column-1 {
    width: 30%;
}

.column-2 {
    width: 65%;
}

.col {
    float: left;
}

h1 {
    font-size: 5em;
}

.jumbo {
    width: 65%;
}

.distance {
    margin: 20px 10px;
}

.blue {
    padding: 5px 10px;
    background-color: blue;
    color: white;
    margin: 5px 5px;
}

.size {
    font-size: 2em;
    margin: 10px;
}

h2 {
    text-align: center;
    font-size: 2.2em;
}

.container {
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

.distance {
    padding: 0px 10px;
}

.column-one, .column-two, .column-three {
    width: calc(100%/3 - 20px);
    margin: 5px;
    border: 1px solid black;
}

.center {
    text-align: center;
}

.team-content {
    margin-bottom: 10px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

.team {
    text-align: center;
}

.columnn-1 {
    width: 75%;
}

.columnn-2 {
    width: 25%;
}

h2 , h3, h4, p {
    padding: 5px;
}

ul li {
    padding: 5px;
    list-style: none;
}

.two-cols {
    width: 80%;
    margin: 0 auto;
}

.dimension {
    width: 100%;
}

.two-cols {
    margin-top: 10px;
    width: 80%;
    margin: 0 auto;
}

.columnnn-1, .columnnn-2 {
    width: 50%;
}

.white-button {
    background-color: white;
    padding: 2px 5px;
}

.title {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.products-container {
    width: 80%;
    margin: 0 auto;
}

.product {
    width: 32%;
    margin: 2px;
    display: inline-block;
}

.product img {
    width: 60%;
}

.h3-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.columnn-one, .columnn-two, .columnn-three {
    width: 33%;
}

.images {
    display: inline-block;
}

.images img {
    width: 50%;
}

.designit {
    width: 25%;
    margin-bottom: 20px;
}

.colummn-one, .colummn-two {
    width: 50%;
    background-color: skyblue;
}

.purple {
    color: purple;
}

.questions {
    width: 70%;
    margin: 50px auto;
}

.distances {
    padding: 20px;
}

.black {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    height: 500px;
}

ul li {
    color: white;
}

ul {
    display: inline-block;
}

.font {
    font-size: 2em;
}

.black {
    position: relative;
}
.translate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul li a {
    color: white;
}